
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6%;
  
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2); 

  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(20px);


  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
.logo-container { display: flex; align-items: center; }
.logo-img {
  height: 50px; 
  width: auto;
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}
.nav-links a {
  text-decoration: none;
  color: #ffffff; 
  margin-left: 2.5rem;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/* Buton */
.nav-links .btn-primary {
  background: linear-gradient(135deg, #2563eb 0%, #1d4ed8 100%);
  padding: 10px 25px !important;
  color: white !important;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(37, 99, 235, 0.4);
}